@import "~@/assets/styles/utils/index";

@include c(list) {
  @include e(header) {
    @include clearfix;
  }

  @include e(operations) {
    float: left;
    margin-bottom: 10px;
  }

  @include e(filters) {
    float: right;
    margin-bottom: 10px;
  }
}
