// 页面最小宽度
$min-width: 1200px;

// 头部高度
$header-height: 60px;

// 侧边栏宽度
$sidebar-width: 240px;

// 字号
$font-sizes: 12px, 14px, 16px, 18px;

// 色值
$colors: (
  cprimary: #409eff,
  csuccess: #67c23a,
  cwarning: #e6a23c,
  cdanger: #f56c6c,
  cinfo: #909399
);

// margin
$margin-items: 10px 20px 30px;

// padding
$padding-items: 10px 20px 30px;
